*, ::before, ::after {
  box-sizing: border-box;
}

body {
  background: #e5e3de;
  color: #2E2C08;
}

a {
  color: #2E2C08;
}

img {
  max-width: 100%;
}

p, h2 {
  padding: 0;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.container {
  padding: 1em;
  margin: 2em;
  max-width: 50em;
  background: white;
}

.article__text, 
.article__image {
  padding: 1em;
}

/* Zde je místo pro vaše styly.*/
.article__image {
  max-width: 300px;
  min-width: 250px;
  flex: 1 1 40%;
}

.article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.article__text {
  flex: 1 1 60%;
}

/* Nastylujte flexibilní layout článku. Na širších obrazovkách, 
kde se obrázek a text vejdou vedle sebe, by měl obrázek zabírat 
40% boxu a text 60% boxu.

Jak se bude zmenšovat obrazovka, bude se zmenšovat šířka obrázku 
i textu. Když dosáhne obrázek své minimální velikosti 250px, měl 
by se text zalomit dolů pod něj.

Aby se nám obrázek při zvětšování obrazovky moc neroztáhl, měl by 
mít nastavenou maximální šířku 300px. */